body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #F5EFE6;
    gap: 10px;
    margin: 0;
}

#start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #5A412F;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
}

h2 {
    color: #5A412F;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    margin-bottom: 50px;
}

h4 {
    color: #5A412F;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    opacity: 1;
}

#choose-btn {
    background-color: #6B4F3A;
    color: white;
    border-radius: 50px;
    padding: 26px;
    width: 200px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

#choose-btn:hover {
    background-color: #5A412F;
}

#pizza {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.07;
    width: 900px;
    pointer-events: none;

}

#food-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.food-card {
    width: 250px;
    height: 350px;
    border: 1px solid #5A412F;
    border-radius: 3px;
    padding: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}